<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cmcc.mobile.admin.dao.ActivitiHisExecutionMapper">
  <resultMap id="BaseResultMap" type="cmcc.mobile.admin.entity.ActivitiHisExecution">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="process_definition_id" jdbcType="VARCHAR" property="processDefinitionId" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, process_definition_id, process_instance_id, parent_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activiti_his_execution
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from activiti_his_execution
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cmcc.mobile.admin.entity.ActivitiHisExecution">
    insert into activiti_his_execution (id, process_definition_id, process_instance_id, 
      parent_id, create_time)
    values (#{id,jdbcType=VARCHAR}, #{processDefinitionId,jdbcType=VARCHAR}, #{processInstanceId,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cmcc.mobile.admin.entity.ActivitiHisExecution">
    insert into activiti_his_execution
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="processDefinitionId != null">
        process_definition_id,
      </if>
      <if test="processInstanceId != null">
        process_instance_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="processDefinitionId != null">
        #{processDefinitionId,jdbcType=VARCHAR},
      </if>
      <if test="processInstanceId != null">
        #{processInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cmcc.mobile.admin.entity.ActivitiHisExecution">
    update activiti_his_execution
    <set>
      <if test="processDefinitionId != null">
        process_definition_id = #{processDefinitionId,jdbcType=VARCHAR},
      </if>
      <if test="processInstanceId != null">
        process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cmcc.mobile.admin.entity.ActivitiHisExecution">
    update activiti_his_execution
    set process_definition_id = #{processDefinitionId,jdbcType=VARCHAR},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>