<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cmcc.mobile.admin.dao.ThirdApprovalDealMapper">
	<resultMap id="BaseResultMap" type="cmcc.mobile.admin.entity.ThirdApprovalDeal">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="approval_name" property="approvalName"
			jdbcType="VARCHAR" />
		<result column="arrive_date" property="arriveDate" jdbcType="VARCHAR" />
		<result column="des" property="des" jdbcType="VARCHAR" />
		<result column="examine_date" property="examineDate" jdbcType="VARCHAR" />
		<result column="link" property="link" jdbcType="VARCHAR" />
		<result column="next_node_id" property="nextNodeId" jdbcType="VARCHAR" />
		<result column="wyy_id" property="wyyId" jdbcType="VARCHAR" />
		<result column="remark2" property="remark2" jdbcType="VARCHAR" />
		<result column="remark3" property="remark3" jdbcType="VARCHAR" />
		<result column="remark4" property="remark4" jdbcType="VARCHAR" />
		<result column="remark5" property="remark5" jdbcType="VARCHAR" />
		<result column="run_id" property="runId" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="approval_table_config_id" property="approvalTableConfigId"
			jdbcType="VARCHAR" />
		<result column="third_company_id" property="thirdCompanyId"
			jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="node_status" property="nodeStatus" jdbcType="VARCHAR" />
		<result column="user_start_id" property="userStartId" jdbcType="VARCHAR" />
		<result column="company_id" property="companyId" jdbcType="VARCHAR" />
		<result column="stick" property="stick" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, approval_name, arrive_date, des, examine_date, link, next_node_id,
		wyy_id, remark2,
		remark3, remark4, remark5, run_id, status, approval_table_config_id,
		third_company_id,
		user_id, node_status, user_start_id, company_id, stick
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from third_approval_deal
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from third_approval_deal
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="cmcc.mobile.admin.entity.ThirdApprovalDeal">
		insert into third_approval_deal (id, approval_name, arrive_date,
		des, examine_date, link,
		next_node_id, wyy_id, remark2,
		remark3, remark4, remark5,
		run_id, status, approval_table_config_id,
		third_company_id, user_id, node_status,
		user_start_id, company_id, stick
		)
		values (#{id,jdbcType=VARCHAR}, #{approvalName,jdbcType=VARCHAR},
		#{arriveDate,jdbcType=VARCHAR},
		#{des,jdbcType=VARCHAR}, #{examineDate,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR},
		#{nextNodeId,jdbcType=VARCHAR}, #{wyyId,jdbcType=VARCHAR},
		#{remark2,jdbcType=VARCHAR},
		#{remark3,jdbcType=VARCHAR}, #{remark4,jdbcType=VARCHAR}, #{remark5,jdbcType=VARCHAR},
		#{runId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
		#{approvalTableConfigId,jdbcType=VARCHAR},
		#{thirdCompanyId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
		#{nodeStatus,jdbcType=VARCHAR},
		#{userStartId,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{stick,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="cmcc.mobile.admin.entity.ThirdApprovalDeal">
		insert into third_approval_deal
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="approvalName != null">
				approval_name,
			</if>
			<if test="arriveDate != null">
				arrive_date,
			</if>
			<if test="des != null">
				des,
			</if>
			<if test="examineDate != null">
				examine_date,
			</if>
			<if test="link != null">
				link,
			</if>
			<if test="nextNodeId != null">
				next_node_id,
			</if>
			<if test="wyyId != null">
				wyy_id,
			</if>
			<if test="remark2 != null">
				remark2,
			</if>
			<if test="remark3 != null">
				remark3,
			</if>
			<if test="remark4 != null">
				remark4,
			</if>
			<if test="remark5 != null">
				remark5,
			</if>
			<if test="runId != null">
				run_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="approvalTableConfigId != null">
				approval_table_config_id,
			</if>
			<if test="thirdCompanyId != null">
				third_company_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="nodeStatus != null">
				node_status,
			</if>
			<if test="userStartId != null">
				user_start_id,
			</if>
			<if test="companyId != null">
				company_id,
			</if>
			<if test="stick != null">
				stick,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="approvalName != null">
				#{approvalName,jdbcType=VARCHAR},
			</if>
			<if test="arriveDate != null">
				#{arriveDate,jdbcType=VARCHAR},
			</if>
			<if test="des != null">
				#{des,jdbcType=VARCHAR},
			</if>
			<if test="examineDate != null">
				#{examineDate,jdbcType=VARCHAR},
			</if>
			<if test="link != null">
				#{link,jdbcType=VARCHAR},
			</if>
			<if test="nextNodeId != null">
				#{nextNodeId,jdbcType=VARCHAR},
			</if>
			<if test="wyyId != null">
				#{wyyId,jdbcType=VARCHAR},
			</if>
			<if test="remark2 != null">
				#{remark2,jdbcType=VARCHAR},
			</if>
			<if test="remark3 != null">
				#{remark3,jdbcType=VARCHAR},
			</if>
			<if test="remark4 != null">
				#{remark4,jdbcType=VARCHAR},
			</if>
			<if test="remark5 != null">
				#{remark5,jdbcType=VARCHAR},
			</if>
			<if test="runId != null">
				#{runId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="approvalTableConfigId != null">
				#{approvalTableConfigId,jdbcType=VARCHAR},
			</if>
			<if test="thirdCompanyId != null">
				#{thirdCompanyId,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="nodeStatus != null">
				#{nodeStatus,jdbcType=VARCHAR},
			</if>
			<if test="userStartId != null">
				#{userStartId,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=VARCHAR},
			</if>
			<if test="stick != null">
				#{stick,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cmcc.mobile.admin.entity.ThirdApprovalDeal">
		update third_approval_deal
		<set>
			<if test="approvalName != null">
				approval_name = #{approvalName,jdbcType=VARCHAR},
			</if>
			<if test="arriveDate != null">
				arrive_date = #{arriveDate,jdbcType=VARCHAR},
			</if>
			<if test="des != null">
				des = #{des,jdbcType=VARCHAR},
			</if>
			<if test="examineDate != null">
				examine_date = #{examineDate,jdbcType=VARCHAR},
			</if>
			<if test="link != null">
				link = #{link,jdbcType=VARCHAR},
			</if>
			<if test="nextNodeId != null">
				next_node_id = #{nextNodeId,jdbcType=VARCHAR},
			</if>
			<if test="wyyId != null">
				wyy_id = #{wyyId,jdbcType=VARCHAR},
			</if>
			<if test="remark2 != null">
				remark2 = #{remark2,jdbcType=VARCHAR},
			</if>
			<if test="remark3 != null">
				remark3 = #{remark3,jdbcType=VARCHAR},
			</if>
			<if test="remark4 != null">
				remark4 = #{remark4,jdbcType=VARCHAR},
			</if>
			<if test="remark5 != null">
				remark5 = #{remark5,jdbcType=VARCHAR},
			</if>
			<if test="runId != null">
				run_id = #{runId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="approvalTableConfigId != null">
				approval_table_config_id = #{approvalTableConfigId,jdbcType=VARCHAR},
			</if>
			<if test="thirdCompanyId != null">
				third_company_id = #{thirdCompanyId,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="nodeStatus != null">
				node_status = #{nodeStatus,jdbcType=VARCHAR},
			</if>
			<if test="userStartId != null">
				user_start_id = #{userStartId,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				company_id = #{companyId,jdbcType=VARCHAR},
			</if>
			<if test="stick != null">
				stick = #{stick,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cmcc.mobile.admin.entity.ThirdApprovalDeal">
		update third_approval_deal
		set approval_name = #{approvalName,jdbcType=VARCHAR},
		arrive_date = #{arriveDate,jdbcType=VARCHAR},
		des = #{des,jdbcType=VARCHAR},
		examine_date = #{examineDate,jdbcType=VARCHAR},
		link = #{link,jdbcType=VARCHAR},
		next_node_id = #{nextNodeId,jdbcType=VARCHAR},
		wyy_id = #{wyyId,jdbcType=VARCHAR},
		remark2 = #{remark2,jdbcType=VARCHAR},
		remark3 = #{remark3,jdbcType=VARCHAR},
		remark4 = #{remark4,jdbcType=VARCHAR},
		remark5 = #{remark5,jdbcType=VARCHAR},
		run_id = #{runId,jdbcType=VARCHAR},
		status = #{status,jdbcType=VARCHAR},
		approval_table_config_id = #{approvalTableConfigId,jdbcType=VARCHAR},
		third_company_id = #{thirdCompanyId,jdbcType=VARCHAR},
		user_id = #{userId,jdbcType=VARCHAR},
		node_status = #{nodeStatus,jdbcType=VARCHAR},
		user_start_id = #{userStartId,jdbcType=VARCHAR},
		company_id = #{companyId,jdbcType=VARCHAR},
		stick = #{stick,jdbcType=INTEGER}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 获取待办信息 -->
	<select id="getDealInfo" parameterType="cmcc.mobile.admin.entity.ThirdApprovalDeal"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from third_approval_deal
		where node_status = #{nodeStatus,jdbcType=VARCHAR}
		and user_id=#{userId,jdbcType=VARCHAR}
		and status = #{status,jdbcType=VARCHAR}
		and wyy_id = #{wyyId}
	</select>



	<select id="getApprovalByParams" parameterType="cmcc.mobile.admin.entity.ThirdApprovalDeal"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from third_approval_deal
		where
		<if test="nodeStatus != null and nodeStatus != ''">
			node_status =#{nodeStatus,jdbcType=VARCHAR}
		</if>
		<if test="userId != null and userId != ''">
			and user_id=#{userId,jdbcType=VARCHAR}
		</if>
		<if test="status != null and status != ''">
			and status = #{status,jdbcType=VARCHAR}
		</if>
		group by run_id
		order by arrive_date desc
	</select>


	<resultMap id="BaseResultMap2" type="cmcc.mobile.admin.vo.ProcessInfoVo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="arrive_date" property="arriveDate" jdbcType="VARCHAR" />
		<result column="approval_name" property="approvalName"
			jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="link" property="link" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 获取已办列表 -->

	<select id="getApprovalListByParams" parameterType="cmcc.mobile.admin.entity.ThirdApprovalDeal"
		resultMap="BaseResultMap2">
		select
		a.id,a.approval_name,a.arrive_date,a.link,a.status,b.user_name
		from third_approval_deal a left join user b on b.id = a.user_start_id
		where
		<if test="nodeStatus != null and nodeStatus != ''">
			a.node_status =#{nodeStatus,jdbcType=VARCHAR}
		</if>
		<if test="userId != null and userId != ''">
			and a.user_id=#{userId,jdbcType=VARCHAR}
		</if>
		<if test="status != null and status != ''">
			and a.status = #{status,jdbcType=VARCHAR}
		</if>
		<if test="companyId !=null and companyId!='' ">
			and a.company_id = #{companyId,jdbcType=VARCHAR}
		</if>
		<if test="approvalName != null  and  approvalName!=''">
			and a.approval_name like
			concat(concat('%',#{approvalName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="wyyId !=null">
			and a.wyy_id = #{wyyId}
		</if>
		group by a.run_id
		order by a.arrive_date desc
	</select>

	<!-- 获取代办接口 -->
	<select id="getApprovalListByParams2" parameterType="cmcc.mobile.admin.entity.ThirdApprovalDeal"
		resultMap="BaseResultMap2">
		select
		a.id,a.approval_name,a.arrive_date,a.link,a.status,b.user_name
		from third_approval_deal a left join user b on b.id = a.user_start_id
		where
		<if test="nodeStatus != null and nodeStatus != ''">
			a.node_status =#{nodeStatus,jdbcType=VARCHAR}
		</if>
		<if test="userId != null and userId != ''">
			and a.user_id=#{userId,jdbcType=VARCHAR}
		</if>
		<if test="status != null and status != ''">
			and a.status = #{status,jdbcType=VARCHAR}
		</if>
		<if test="companyId !=null and companyId!='' ">
			and a.company_id = #{companyId,jdbcType=VARCHAR}
		</if>
		<if test="approvalName != null  and  approvalName!=''">
			and a.approval_name like
			concat(concat('%',#{approvalName,jdbcType=VARCHAR}),'%')
		</if>
		<if test="wyyId !=null">
			and a.wyy_id = #{wyyId,jdbcType=VARCHAR}
		</if>
		order by a.arrive_date desc
	</select>

	<select id="selectByPrimaryUserId" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(*)
		from third_approval_deal
		where user_id = #{userId,jdbcType=VARCHAR} and status =
		#{status,jdbcType=VARCHAR}
		and node_status =#{nodeStatus,jdbcType=VARCHAR}
	</select>

	<select id="getApprovalListByFlowId" parameterType="cmcc.mobile.admin.entity.ThirdApprovalDeal"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from third_approval_deal
		where node_status =#{nodeStatus,jdbcType=VARCHAR}
		and run_id=#{runId,jdbcType=VARCHAR}
		<if test="userStartId != null and userStartId != ''">
			and user_start_id = #{userStartId,jdbcType=VARCHAR}
		</if>
		<if test="userId != null and userId != ''">
			and user_id = #{userId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getAllDealInfoByFlowId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select *
		from third_approval_deal
		where run_id = #{id,jdbcType=VARCHAR}
		order by arrive_date asc
	</select>

	<update id="updateByRunIdSelective" parameterType="cmcc.mobile.admin.entity.ThirdApprovalDeal">
		update third_approval_deal
		<set>
			<if test="approvalName != null">
				approval_name = #{approvalName,jdbcType=VARCHAR},
			</if>
			<if test="arriveDate != null">
				arrive_date = #{arriveDate,jdbcType=VARCHAR},
			</if>
			<if test="des != null">
				des = #{des,jdbcType=VARCHAR},
			</if>
			<if test="examineDate != null">
				examine_date = #{examineDate,jdbcType=VARCHAR},
			</if>
			<if test="link != null">
				link = #{link,jdbcType=VARCHAR},
			</if>
			<if test="nextNodeId != null">
				next_node_id = #{nextNodeId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="approvalTableConfigId != null">
				approval_table_config_id =
				#{approvalTableConfigId,jdbcType=VARCHAR},
			</if>
			<if test="thirdCompanyId != null">
				third_company_id = #{thirdCompanyId,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="nodeStatus != null">
				node_status = #{nodeStatus,jdbcType=VARCHAR},
			</if>
			<if test="userStartId != null">
				user_start_id = #{userStartId,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				company_id = #{companyId,jdbcType=VARCHAR},
			</if>
		</set>
		where run_id = #{runId,jdbcType=VARCHAR}
	</update>
	<select id="selectByType" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select *
		from third_approval_deal
		where run_id = #{id,jdbcType=VARCHAR}
		order by arrive_date asc
	</select>
</mapper>